@model List<Quizzer.Models.Question>

@{
    ViewData["Title"] = "Quiz";
}

<h2>@ViewData["Title"]</h2>

<div>
    <form asp-action="Index">
        <div class="questions col-lg-12">
            @for (int i = 0; i < Model.Count; i++)
            {
                <h4>
                    @Html.DisplayFor(model => model[i].QuestionText)
                </h4>
                <div>
                    <ol style="list-style-type:upper-alpha">
                    @for (int j = 0; j < Model[i].Choices.Count; j++)
                    {
                        <li>
                            @Html.DisplayFor(model => model[i].Choices[j])
                        </li>
                    }
                    </ol>
                    @Html.DisplayNameFor(model => model[i].StudentAnswer)
                    @Html.EditorFor(model => model[i].StudentAnswer)
                </div>
                <hr />
            }
        </div>

        <input type="submit" value="Submit" class="btn btn-default" />
    </form>
</div>
